body,
div,
ul,
ol,
dt,
dd,
dl,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
textarea,
p,
img,
a,
span,
strong,
* {
  padding: 0;
  margin: 0;
}
/*去掉默认距离*/
body {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #000000;
  background-color: #FFFFFF;
}
ul,
ol,
li {
  list-style: none;
}
/*去点*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
}
img,
input,
select,
textarea {
  vertical-align: middle;
}
img {
  border: none;
}
a {
  color: #333333;
  text-decoration: none;
}
/*去下划线*/
a:hover {
  color: #003366;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  overflow: hidden;
}
/*清除浮动*/
header {
  width: 100%;
  height: 70px;
  background-color: white;
}
header > .head {
  width: 1000px;
  height: inherit;
  margin: auto;
  position: relative;
}
header > .head > img {
  vertical-align: middle;
}
header > .head > ul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}
header > .head > ul > li {
  float: left;
  width: 100px;
  text-align: center;
}
header > .head > ul > li > a {
  display: inline-block;
  line-height: 70px;
  width: 80px;
  height: 66px;
}
header > .head > ul > li > .msg1 {
  width: 100px;
}
header > .head > ul > li > .msg1 > li {
  border-bottom: 1px solid gainsboro;
}
header > .head > ul > li > .msg2 {
  left: 0;
  width: 450px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}
header > .head > ul > li > .msg2 > ul > li {
  border-bottom: 1px solid gainsboro;
}
header > .head > ul > li > .msg3 {
  width: 100px;
}
header > .head > ul > li:hover > a {
  border-bottom: 2px solid #1dbcda;
  cursor: pointer;
}
header > .head > ul > li > .msg {
  position: absolute;
  z-index: 100;
  display: none;
  background-color: white;
}
header > .head > ul > li > .msg li {
  line-height: 40px;
}
header > .head > form {
  float: right;
  vertical-align: middle;
  margin-top: 20px;
}
header > .head > form > input {
  height: 30px;
  border: 1px solid gainsboro;
  border-right: none;
}
header > .head > form > span {
  border: 1px solid gainsboro;
  vertical-align: middle;
  font-size: 30px;
  border-left: none;
}
header > .head > span {
  display: inline-block;
  width: 0;
  height: 70px;
  vertical-align: middle;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
}
nav > .nav {
  width: 1000px;
  height: 60px;
  margin: auto;
}
nav > .nav > ul > li {
  float: left;
  line-height: 60px;
  width: 70px;
  text-align: center;
  color: #666;
}
nav > .nav > ul > li > a {
  color: #666;
}
.img {
  width: 100%;
  height: 420px;
  background-image: url(../img/gongs.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.about-company-text {
  width: 1000px;
  font-size: 16px;
  line-height: 1.6;
  margin: auto;
}
.account {
  width: 1000px;
  height: 200px;
  margin: 30px auto;
  display: flex;
  background-color: #f3f6f6;
  justify-content: space-between;
  align-items: center;
}
.account > .account-wrap {
  width: 320px;
  height: 150px;
  padding: 30px 40px;
  box-sizing: border-box;
  border-right: 1px solid #666;
}
.account > .account-wrap:last-child {
  border-right: none;
}
.account > .account-wrap .num {
  font-size: 48px;
  color: #00b4d5;
}
.account > .account-wrap > p {
  color: #666;
}
footer {
  width: 100%;
  background-color: #f4f4f4;
}
footer > .soc {
  width: 1000px;
  margin: auto;
}
footer > .soc > h1 {
  font-size: 30px;
  line-height: 60px;
}
footer > .soc > .box {
  height: 700px;
}
footer > .soc > .box > .left {
  width: 30%;
  float: left;
  height: 84%;
  background-color: white;
}
footer > .soc > .box > .left > img {
  width: 100%;
}
footer > .soc > .box > .right {
  width: 65%;
  float: right;
  height: 100%;
}
footer > .soc > .box > .right > .top {
  width: 100%;
  height: 32%;
  background-color: white;
}
footer > .soc > .box > .right > .top > dl {
  width: 100%;
  height: 100%;
}
footer > .soc > .box > .right > .top > dl > dt {
  width: 55%;
  height: 100%;
  float: right;
}
footer > .soc > .box > .right > .top > dl > dt > img {
  height: 100%;
}
footer > .soc > .box > .right > .top > dl > dd {
  width: 45%;
  height: 100%;
  float: left;
}
footer > .soc > .box > .right > .bottom {
  width: 100%;
  height: 42%;
  background-color: white;
  margin-top: 70px;
}
footer > .soc > .box > .right > .bottom > .slide {
  width: 60%;
  height: 100%;
  float: left;
  overflow: hidden;
}
footer > .soc > .box > .right > .bottom > .slide > ul {
  width: 200%;
  height: 100%;
}
footer > .soc > .box > .right > .bottom > .slide > ul > li {
  width: 50%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
}
footer > .soc > .box > .right > .bottom .slide {
  width: 60%;
  height: 100%;
  float: left;
  position: relative;
}
footer > .soc > .box > .right > .bottom .slide .inner_s {
  width: 100%;
  height: inherit;
  margin: auto;
  overflow: hidden;
  position: relative;
}
footer > .soc > .box > .right > .bottom .slide .inner_s ul {
  width: calc(300%);
  height: inherit;
  margin-left: 0;
}
footer > .soc > .box > .right > .bottom .slide .inner_s ul > li {
  width: 33%;
  height: inherit;
  float: left;
  background-size: cover;
}
footer > .soc > .box > .right > .bottom .slide .inner_s span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #003366 #003366 transparent transparent;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}
footer > .soc > .box > .right > .bottom .slide .inner_s span:hover {
  cursor: pointer;
}
footer > .soc > .box > .right > .bottom .slide .inner_s #left {
  border-color: #003366 transparent transparent #003366;
  transform: rotate(-45deg);
  left: 20px;
}
footer > .soc > .box > .right > .bottom .slide .nav {
  width: 30%;
  line-height: 20px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
footer > .soc > .box > .right > .bottom .slide .nav > span {
  display: inline-block;
  width: 30px;
  height: 20px;
  border-radius: 10px;
  transition: all 0.5s linear;
  background-color: #e9e9e9;
}
footer > .soc > .box > .right > .bottom .slide .nav > span:hover {
  cursor: pointer;
}
footer > .soc > .box > .right > .bottom .slide .nav .navspan {
  background-color: orangered;
}
footer > .soc > .box > .right > .bottom > .word {
  float: right;
  width: 40%;
}
.bottom_l {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
}
.bottom_l > h1 {
  width: calc(150px);
  font-size: 24px;
  line-height: 32px;
}
.bottom_l > p {
  font-size: 16px;
  line-height: 1.6;
}
.bottom_l .inner-b > p {
  font-size: 16px;
  line-height: 1.6;
}
.bottom_l .inner-b > p > span {
  font-size: 36px;
  color: #00b4d5;
}
.foot {
  width: 100%;
  height: 254px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.foot > .inner_foot {
  width: 25%;
  height: 254px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
.foot > .inner_foot:hover > .ban {
  bottom: 0;
}
.foot > .inner_foot > p {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.foot > .inner_foot > .ban {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: -100%;
  transition: all 0.3s ease-in-out;
}
.footmsg {
  width: 1000px;
  margin: auto;
  overflow: hidden;
}
.footmsg > div {
  float: left;
  width: 15%;
  box-sizing: border-box;
  height: 228px;
  border-right: 1px solid #b7b7b7;
}
.footmsg > div:last-child {
  border-right: none;
}
.footmsg > div > ul > li {
  line-height: 28px;
  text-align: center;
  padding: 0 5px;
}
.footmsg > div h2 {
  line-height: 32px;
  text-align: center;
}
.footmsg > .num2 {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.last_foot {
  width: 1000px;
  margin: 30px auto 0;
  height: 50px;
  padding-top: 30px;
  border-top: 1px solid #b7b7b7;
}
.last_foot > .lang {
  position: relative;
  float: left;
}
.last_foot > .lang > span:first-child {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.last_foot > .lang > i {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #b7b7b7 #b7b7b7 transparent;
  transform: rotate(45deg);
  font-size: 12px;
  margin-left: 10px;
}
.last_foot > .lang > i:hover {
  cursor: pointer;
}
.last_foot > .lang > ul {
  position: absolute;
  top: -50px;
  left: 20px;
  display: none;
}
.last_foot > address {
  float: right;
}
